@use '../../../shared/styles/constants';

@mixin scrollbar() {
  html {
    $width: 10px;
    $color: #cecece;
    $delta: 10%;

    // Webkit
    ::-webkit-scrollbar {
      width: $width;
      height: $width;
      background: transparent;
    }

    ::-webkit-scrollbar:hover {
      background: lighten($color, $delta);
    }

    ::-webkit-scrollbar-thumb {
      background: $color;
      border-radius: $width * 0.5;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: darken($color, $delta);
    }

    // Firefox
    & {
      scrollbar-width: thin;
      scrollbar-color: darken($color, $delta) $color;
    }
  }
}
