@use 'src/shared/styles/constants';

@mixin dialog() {
  .p-dialog-mask {
    padding: 20px;
    align-items: unset;

    .p-dialog {
      margin: auto;
      overflow: hidden;
      background: constants.$clr-bg-card;

      .p-dialog-content,
      .p-dialog-header,
      .p-dialog-footer {
        overflow-y: unset;
        background: none;
      }

      .p-dialog-header {
        padding: 20px 20px 0;
        margin-bottom: 15px;
      }

      .p-dialog-content {
        padding: 0 20px 20px;
        overflow: auto;
      }

      .p-dialog-footer {
        button {
          margin: unset;
        }
      }

      &.p-dialog-maximized {
        top: unset !important;
        left: unset !important;
        width: 90% !important;
        height: 90% !important;

        .p-dialog-content {
          display: flex;

          & > * {
            margin: auto;
          }
        }
      }
    }
  }
}
